@model VideoConverter.Models.FileModel

<div class="text-center">
    <h2 class="display-4">@Model.Name</h2>
	
	<div class="alert alert-success" style="margin-top:50px">
		@if (ViewBag.Message != null)
		{
			@ViewBag.Message
		}
    </div>

	@if (ViewBag.Success) {
		<form asp-action="Download" asp-route-filename=@Model.Name>
			<input type="submit" value="Download" />
		</form>
	}
	else
	{
		<form asp-action="Index">
			<input type="submit" value="Go back"/>
		</form>
	}
</div>
